<?xml version="1.0" encoding="UTF-8"?>

<!-- 
If you have too many beans having initialization and or destroy methods with the same name, you don't need to declare init-method
 and destroy-method on each individual bean. Instead framework provides the flexibility to configure such situation using 
 default-init-method and default-destroy-method attributes on the <beans> element as follows:
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
    default-init-method="init" 
    default-destroy-method="destroy">

   <bean id="..." class="...">
       collaborators and configuration for this bean go here 
   </bean>

</beans>
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd"
<!--     default-init-method="init" 
    default-destroy-method="destroy" -->
    >
  <bean id="helloworld" class="com.satish.springbean.HelloWorld" init-method="init" destroy-method="destroy" >
  <property name="message" value="Hello !Satish "/>
  </bean>
</beans>